


<div class="container">
  
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Categorie</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem *ngFor="let cat of categories" (click)="onCat(cat.title)">{{cat.title}}</button>
    </div>
  </div>
    <ul>
      <app-article  *ngFor="let article of articlesTri"
                     [id]="article.id"
                     [articleTitle]="article.title"
                     [articleDescription]="article.description"
                     [articlePrice]="article.price"
                     [articleCat]="article.categorie.title"
                     [articleImg]="article.image" 
                    ></app-article>
    </ul>
    
    <button class="btn btn-primary"
        (click)="onSave()">Enregistrer les appareils</button>

    <button class="btn btn-primary"
    (click)="onFetch()">Récupérer les appareils</button>
    


  </div>
  