
<div class="container">
    <ul>
      <app-article  *ngFor="let article of articles"
                     [id]="article.id"
                     [articleTitle]="article.title"
                     [articleDescription]="article.description"
                     [articlePrice]="article.price"
                     [articleCat]="article.categorie.title"
                    ></app-article>
    </ul>
    <button class="btn btn-primary"
        (click)="onSave()">Enregistrer les appareils</button>

    <button class="btn btn-primary"
    (click)="onFetch()">Récupérer les appareils</button>


  
    
  </div>
  