<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="title">Titre de l'article</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="textarea" id="description" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" id="image" class="form-control" formControlName="image">
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" id="price" class="form-control" formControlName="price">
      </div>
      <div class="form-group">
        <label>Categorie</label>
        <div>
          <select class="browser-default custom-select" formControlName="categorie">
          
            <option *ngFor="let cat of categories" [value]="cat.title">{{cat.title}}</option>
            
          </select>
        </div>
        
      </div>
      

      <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Soumettre</button>
      
      
        </form>
        
  </div>