
<div class="container">
    <ul class="list-group">
      <app-article  *ngFor="let article of articles; let i = index"
                     [articleTitle]="article.title"
                     [articleDescription]="article.description"
                     [articlePrice]="article.price"
                     [index]="i"
                     [id]="article.id"></app-article>
    </ul>
    <button class="btn btn-primary"
        (click)="onSave()">Enregistrer les appareils</button>

    <button class="btn btn-primary"
    (click)="onFetch()">Récupérer les appareils</button>
    
  
    
  </div>
  